:root {
  --border-color: #cdcdcd;
  --inner-space: 20px;
}

* {
  font-family: "Calibri";
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper .card {
  background-color: white;
  padding: calc(var(--inner-space) * 2) var(--inner-space);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0 0 25px 10px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--inner-space);
}

header {
  font-size: 30pt;
  font-weight: bold;
  position: relative;
  top: -60px;
  left: 17px;
  scale: 4;
  rotate: 15deg;
}

.content {
  display: flex;
}

.content form {
  width: 110px;
}

.content .equal-sign {
  font-weight: 1000;
  padding: 7px var(--inner-space) 0;
}

.content .input-content {
  display: flex;
  flex-direction: column;

}

.content .input-content input {
  font-size: 16pt;
  font-weight: 1000;
  text-align: center;
}

input {
  border: 1px solid var(--border-color);
  border-radius: 5px 5px 0 0;
}

select {
  border: 1px solid var(--border-color);
  border-radius: 0 0 5px 5px;
  margin-top: -1px;
  background-color: #f6f2f9;
}

.formula {
  width: 100%;
}

.formula #formula-text {
  display: block;
}