:root {
  --border-color: #cdcdcd;
  --inner-space: 20px;
}

/* Assign default font & remove default margin value */
* { font-family: "Calibri"; }
body, h1, h2, h3, h4, h5, h6 { margin: 0; }

/* Center the window */
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Add border & shadow to create a card-like window like in material design */
.wrapper .card {
  background-color: white;
  padding: calc(var(--inner-space) * 2) var(--inner-space);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0 0 25px 10px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--inner-space);
}

/* Resize & centering the icon  */
header {
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: -20px;
}

header .temp {
  position: relative;
  left: -5px;
  top: -70px;
  scale: 6.5;
  rotate: 20deg;
}

header .snow {
  position: relative;
  top: -70px;
  left: 45px;
  scale: 3;
  rotate: 20deg;
}

/* Make the input & dropdown in-line */
.content { display: flex; }

/* Resize & flex-column the form content (input & select) */
.content form {
  width: 110px;
  display: flex;
  flex-direction: column;
}

.content  input {
  font-size: 16pt;
  font-weight: 1000;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 5px 5px 0 0;
}

.content select {
  border: 1px solid var(--border-color);
  border-radius: 0 0 5px 5px;
  margin-top: -1px;
  background-color: #f6f2f9;
}

.content .equal-sign {
  font-weight: 1000;
  padding: 7px var(--inner-space) 0;
}

/* Move formula content to left side by modifying its width to fill both side due to flex */
.formula { width: 100%; }

.credit {
  font-size: 10pt;
  margin: 10px 0 -20px 0;
  color: lightgray;
}